    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            h4 {
                color: red;
            }
        </style>
    </head>
    <body>
        {% for message in messages %}
       <h4>{{message}}</h4> 
        {% endfor %}
        <h5>Login page</h5>
        <form method="POST" action="login">
            {% csrf_token %}
            <p>Username:</p>
            <input type="text" name="username">

            <p>Password:</p>
            <input type="password" name="password" /> <br><br>
            <input type="submit" value="login"/>
        </b>

        </form>

        <div>
            <a href="register"> Create an account</a>
        </div>
    </body>
    </html>